@{
    ViewBag.Title = "Home Page";
}
</br>
<div class="jumbotron" style="background-image: url(/Content/images/index_background.jpg); background-size: 100% 100%;">
    <div class="row" id="bgimage">
        <div class="col-md-6">
            <h1>Waverley <br> Car Rental</h1>
            <p class="lead">Welcome to Waverley Car Rental</p>
            <p>Waverley Car Rental is a leading car rental business based at Glen Waverley, we are aim to provide 100% customer's satisfaction.</p>
            <p><a href="/Bookings/New" class="btn btn-primary btn-lg">Book Now! &raquo;</a></p>
            <p><a href="Cars" class="btn btn-primary btn-lg">View cars &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 img thumbnail">
        <img src='/Content/images/index_melbourne.jpg' class="fit-image">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 img thumbnail">
        <img src='/Content/images/index_sydney.jpg' class="fit-image">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 img thumbnail">
        <img src='/Content/images/index_geelong.jpg' class="fit-image">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 img thumbnail">
        <img src='/Content/images/index_adelaide.jpg' class="fit-image">
    </div>
</div>